<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  
  <!--Dati Email-->
  <add key="ServerSMTP" value="smtp.gmail.com"/> <!-- email smtp -->
  <add key="UserSMTP" value=""/> <!-- user account -->
  <add key="PasswordSMTP" value=""/>  <!-- password account -->
  <add key="EnableSsl" value="True"/> <!--True/False-->
    
  <add key="MailFrom" value=""/> <!-- Email from -->
  <add key="MailFromDisplay" value=""/> <!-- Name from  -->
  <add key="MailTo" value=""/>  <!-- Email to -->
    
  <add key="MailObj" value="MonitoringApp"/> 
  <add key="MailBody" value="Attach screen shot"/>
    
  <!--Time Interval -->
  <!--M:minutes ,H:hour -->
  <!--Example: every 30 minutes set M30 -->
  <!--Example: every 8 hours set H8 -->
  <add key="IntervalloTimer" value="M1"/>
    
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
